<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<style>
  body {
    font-family: 'Poppins';

  }
</style>
<div class="app-header header-shadow">
  <div class="app-header__logo">
    <!--<div class=""><img src=".//assets/images/logo-inverse.png" style="height: 27%;width: 27%;border-radius: 50% 50%;">
    </div>-->
    <div class="header__pane ml-auto">
      <div>
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
    <span>
      <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
        <span class="btn-icon-wrapper">
          <i class="fa fa-ellipsis-v fa-w-6"></i>
        </span>
      </button>
    </span>
  </div>
  <div class="app-header__content">
    <div class="app-header-left">
      <div class="search-wrapper">
        <div class="input-holder">
          <input type="text" class="search-input" placeholder="Type to search">
          <button class="search-icon"><span></span></button>
        </div>
        <button class="close"></button>
      </div>
      <ul class="header-megamenu nav">

            <li class="nav-item">
              <a href="javascript:void(0);" data-placement="bottom" rel="popover-focus" data-offset="300"
                data-toggle="popover-custom" class="nav-link">
                <i class="icon text-info icon-anim-pulse ion-android-notifications"></i> &nbsp;&nbsp;Notifications
                <i class="fa fa-angle-down ml-2 opacity-5"></i>
              </a>
              <div class="rm-max-width">
                <div class="d-none popover-custom-content">
                  <div class="dropdown-mega-menu">
                    <div class="grid-menu grid-menu-3col">
                      <div class="no-gutters row">
                        <div class="col-sm-6 col-xl-4">
                          <ul class="nav flex-column">
                            <li class="nav-item-header nav-item">Centre de notificaions</li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon lnr-inbox"></i>
                                <span> Clients</span>
                                <div class="ml-auto badge badge-pill badge-danger">{{clientCounts}}</div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon lnr-book"></i>
                                <span> Facture </span>
                                <div class="ml-auto badge badge-pill badge-danger">{{countFactures}}</div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon lnr-picture"></i>
                                <span> Rappel </span>
                                <div class="ml-auto badge badge-pill badge-danger"></div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                                <i class="nav-link-icon lnr-file-empty"></i>
                                <span> Paiement </span>
                                <div class="ml-auto badge badge-pill badge-danger">0</div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon lnr-inbox"></i>
                                <span>Dépenses</span>
                                <div class="ml-auto badge badge-pill badge-danger">{{countDepense}}</div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon lnr-book"></i>
                                <span> Employé </span>
                                <div class="ml-auto badge badge-pill badge-danger">{{countEmploye}}</div>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-6 col-xl-4">
                          <ul class="nav flex-column">
                            <li class="nav-item-header nav-item"> Favourites</li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link"> Reports Conversions </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link"> Quick Start
                                <div class="ml-auto badge badge-success">New</div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">Users &amp; Groups</a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">Proprieties</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-6 col-xl-4">
                          <ul class="nav flex-column">
                            <li class="nav-item-header nav-item">Sales &amp; Marketing</li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">Queues </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">Resource Groups </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">Goal Metrics
                                <div class="ml-auto badge badge-warning">3</div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">Campaigns</a>
                            </li>
                          </ul>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          
        
        
       
      </ul>
    </div>
    <div class="app-header-right">
     
      <div class="header-btn-lg pr-0">
        <div class="widget-content p-0">
          <div class="widget-content-wrapper">
            <div class="widget-content-left">
              <div class="btn-group">
                <a href="{{path('app.account')}}" aria-expanded="false" class="p-0 btn">
                  <img width="42" class="rounded-circle" src="/assets/media/svg/avatars/blank.svg" alt="">
                  <i class="fa fa-angle-down ml-2 opacity-8"></i>
                </a>
                
              </div>
            </div>
            <div class="widget-content-left  ml-3 header-user-info">
              <div class="widget-heading"> {{app.user.username}} </div>
              <div class="widget-subheading"> Mon compte </div>
            </div>
            <div class="widget-content-right header-user-info ml-3">
              <a href="{{path('app.logout')}}"><button type="button" class="btn-shadow p-1 btn btn-danger btn-sm ">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#fff}</style><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z"/></svg>
              </button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-btn-lg">
        <button type="button" class="hamburger hamburger--elastic open-right-drawer">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>