

{% block ajoutClient %}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from cleancloudapp.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Sep 2022 20:43:21 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <link href="{{asset('assets/css/style.bundle.css')}}" rel="stylesheet" type="text/css" />
<link href="{{asset('assets/plugins/global/plugins.bundle.css')}}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sign up for CleanCloud, the leading software for dry cleaners, laundromats and laundry services.">
    <meta name="keywords" content="">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="./frontend-website/v4/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./frontend-website/v4/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./frontend-website/v4/assets/images/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="./frontend-website/v4/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="preload" href="./frontend-website/v4/assets/fonts/Galano%20Grotesque%20Medium.otf" as="font" crossorigin>
    <link rel="preload" href="./frontend-website/v4/assets/fonts/Galano%20Grotesque.otf" as="font" crossorigin>
    <link rel="stylesheet" href="./frontend-website/stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./frontend-website/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./frontend-website/v4/assets/css/normalize.css">
    <link rel="stylesheet" href="./frontend-website/v4/assets/css/styles8e5e.css?v=15">
    <link rel="stylesheet" href="./frontend-website/v4/assets/css/aos.css">
    <link rel="stylesheet" href="./frontend-website/v4/assets/css/intlTelInput.css">
    <link rel="stylesheet" href="./frontend-website/v4/assets/css/slick.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <style>
        body {
          font-family: 'Poppins';
          
        }
      </style>
    <title>COMPTE SUSPENDU</title>

    </head>
<style>
    .intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {background:#fff;}
    .intl-tel-input.allow-dropdown .selected-flag {border-right:1px solid #E6ECF7;width:56px;}
    .intl-tel-input .country-list .country {background:#fff;  font-family: "Galano Grotesque Medium", sans-serif;}
</style>
<body class="signup-page" >
    

<!-------------------------ANNOUNCE BAR----------------------------->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKDV3JV"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<!-------------------------NAV BAR---------------------------------->
<header id="header" >
    <div class="row justify-content-between mobile-wrapper">
       
        <nav class="d-flex" style="display:none !important;" >
            <div class="links">
                <div class="links-item features-dropdown">
                    <a href="#" class="features-toggle" data-toggle="features" aria-expanded="false">Features
                        <img src="./frontend-website/v4/assets/images/arrow_down_blue.svg">
                    </a>
                    <div class="features_nav">
                        <a href="features.html#point-of-sales">
                            <img src="./frontend-website/v4/assets/images/features/point_of_sales.svg" alt="Point of Sale">
                            <div class="desc">
                                <p class="title">Point of Sale</p>
                                <p class="description">Support for all devices, with barcode scanner, printer and payment support</p>
                            </div>
                        </a>
                        <a href="features.html#hosted-website">
                            <img src="./frontend-website/v4/assets/images/features/hosted_website.svg" alt="Hosted Website">
                            <div class="desc">
                                <p class="title">Hosted Website</p>
                                <p class="description">Get started with a professional looking website as part of your subscription</p>
                            </div>
                        </a>
                        <a href="features.html#assembly">
                            <img src="./frontend-website/v4/assets/images/features/assembly.svg" alt="Assembly">
                            <div class="desc">
                                <p class="title">Assembly </p>
                                <p class="description">Support for assembly in both your store and your plant or central cleaning facility</p>
                            </div>
                        </a>
                        <a href="features.html#hardware">
                            <img src="./frontend-website/v4/assets/images/features/hardware.svg" alt="Hardware">
                            <div class="desc">
                                <p class="title">Hardware</p>
                                <p class="description">Works with any device: PC, Mac, iOS, Android, Chromebooks</p>
                            </div>
                        </a>
                        <a href="features.html#pickup">
                            <img src="./frontend-website/v4/assets/images/features/pickup_and_delivery.svg" alt="Pickup and Delivery">
                            <div class="desc">
                                <p class="title">Pickup and Delivery</p>
                                <p class="description">Grow your business by offering pickup and delivery</p>
                            </div>
                        </a>
                        <a href="features.html#payments">
                            <img src="./frontend-website/v4/assets/images/features/payment.svg" alt="Payments">
                            <div class="desc">
                                <p class="title">Payments</p>
                                <p class="description">Use your existing card terminal or use our in store payment integrations</p>
                            </div>
                        </a>
                        <a href="features.html#lockers">
                            <img src="./frontend-website/v4/assets/images/features/lockers.svg" alt="Lockers">
                            <div class="desc">
                                <p class="title">Lockers</p>
                                <p class="description">Automate the workflow between your laundry lockers and CleanCloud</p>
                            </div>
                        </a>
                        <a href="features.html#reports">
                            <img src="./frontend-website/v4/assets/images/features/reporting.svg" alt="Reporting">
                            <div class="desc">
                                <p class="title">Reporting</p>
                                <p class="description">View key statistics how your store are performing compare to other time periods</p>
                            </div>
                        </a>
                        <a href="features.html#multi-store">
                            <img src="./frontend-website/v4/assets/images/features/multi_store.svg" alt="Multiple Stores and Plant">
                            <div class="desc">
                                <p class="title">Multiple Stores and Plant</p>
                                <p class="description">Manage the cleaning workflow for multiple stores from one place</p>
                            </div>
                        </a>
                        <a href="features.html#marketing">
                            <img src="./frontend-website/v4/assets/images/features/marketing.svg" alt="Marketing">
                            <div class="desc">
                                <p class="title">Marketing</p>
                                <p class="description">Send out marketing via SMS, targeting key sections of your customers</p>
                            </div>
                        </a>
                        <a href="features.html#laundromats">
                            <img src="./frontend-website/v4/assets/images/features/laundromats.svg" alt="Laundromats">
                            <div class="desc">
                                <p class="title">Laundromats</p>
                                <p class="description">Track your machine costs and repair history</p>
                            </div>
                        </a>
                        <a href="features.html#security">
                            <img src="./frontend-website/v4/assets/images/features/security.svg" alt="Security">
                            <div class="desc">
                                <p class="title">Security</p>
                                <p class="description">We backup your data everyday to independent servers.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="links-item">
                    <a href="multi-store.html">Multi-Store</a>
                </div>
                <div class="links-item">
                    <a href="testimonials.html">Testimonials</a>
                </div>
                <div class="links-item">
                    <a href="pricing.html">Pricing</a>
                </div>
                <div class="links-item">
                    <a href="grow-your-business.html">Grow Your Business</a>
                </div>
                <div class="links-item">
                    <a href="blog.html">Blog</a>
                </div>
            </div>
            <div class="connect">
                <a href="login.html" class="button_secondary--small">Log in</a>
                <a href="register.html" class="button_primary--small">Sign up</a>
            </div>
        </nav>

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<style>
    #confirm-signup-popup-opacity-layer {
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .80;
        filter: alpha(opacity=80);
    }
    #confirm-signup-popup {
        display:none;
        z-index:1002;
        position:fixed;
        width:100%;
        max-width:520px;
        margin: 5% auto;
        left: 0;
        right: 0;
        padding: 45px 50px;
        background-color: #fff;
        -webkit-box-shadow: 1px 3px 15px rgb(194 201 214 / 32%);
        box-shadow: 1px 3px 15px rgb(194 201 214 / 32%);
        border-radius: 10px;
    }
</style>


<div id="confirm-signup-popup-opacity-layer">
    </div>
<div id="confirm-signup-popup">
    <h2>Confirm Your Email</h2>
    <div id="confirm_pin_error" style="display:none;font-family: sans-serif;padding:15px;margin-bottom:10px;border-radius:5px;color:#fff;background:red;">
    </div>
    <div style="line-height:1.5;" class="confirm_email_popup_text">
    <p>We sent a 6 digit PIN to your email address <span id="confirm-signup-email"></span>. Please enter it below.</p>
    </div>

    <form action="#" method="POST" id="confirm_popup_form" onsubmit="return pinSubmit()">

        <div class="form-group">
            <label for="confirm_pin">PIN</label>
            <input type="text" class="form-control" id="confirm_pin" name="confirm_pin" value="">
        </div>

        <button type="submit" class="button_action--large" id="submit_confirm_email_button">Submit</button>
    </form>
</div>


<section class="hero_signup container_padding" style="margin-top: -15px;">
    <h1>CLE DE PRODUIT</h1>
    <p class="subtitle--small">
        <h3 class="text-danger">Votre compte a été bloqué. Veuillez saisir une clé de produit valide.</br> Contactez le service client pour toute autre informations.</h3>
    </p>
</section>

<section class="signup-section">
  <!--begin::Alert-->
  <div class="alert alert-dismissible badge-light-success border border-success d-flex flex-column flex-sm-row p-5 mb-10 d-none">
    <!--begin::Icon-->
    <span class="svg-icon svg-icon-2hx svg-icon-success me-4 mb-5 mb-sm-0">...</span>
    <!--end::Icon-->

    <!--begin::Wrapper-->
    <div class="d-flex flex-column pe-0 pe-sm-10">
        <!--begin::Title-->
        <h5 class="mb-1">Vos clés de produits disponible.<span class="alert-identifiant"></span></h5>
        <!--end::Title-->
        <!--begin::Content-->
        {% for all in allCle%}
    <!--end::Wrapper-->
        <span class="alert-text fs-1">{{all.cle[0:4]}}-{{all.cle[4:4]}}-{{all.cle[8:4]}}-{{all.cle[12:12]}} ~ {{all.dureereste}} jours</span>
        {% endfor %}
        
    </div>
    <!--end::Wrapper-->

    <!--begin::Close-->
    <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
        <i class="bi bi-x fs-1 text-success"></i>
    </button>
    <!--end::Close-->
</div>
<!--end::Alert-->
    <!--<form action="{{path('app.gerant.register')}}" method="POST">-->
    <form method="POST" action="{{path('app.saisir.cle',{id:id})}}">
        

        <style>
            .input-group-cle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
            }
        
            .form-controll {
                font-size: 40px;
                width: 130px;
                border: 3px solid silver;
                text-align: center;
                
            }
        </style>
        
        <div class="input-group-cle">
            <input type="text" class="form-controll form-control-lg" maxlength="4" oninput="moveToNext(this, 4)" name="inputGroup[]" />&nbsp;-&nbsp;
            <input type="text" class="form-controll form-control-lg" maxlength="4" oninput="moveToNext(this, 4)" name="inputGroup[]" />&nbsp;-&nbsp;
            <input type="text" class="form-controll form-control-lg" maxlength="4" oninput="moveToNext(this, 4)"  name="inputGroup[]" />&nbsp;-&nbsp;
            <input type="text" class="form-controll form-control-lg" maxlength="4" oninput="moveToNext(this, 4)"  name="inputGroup[]" />
        </div>
                <input type="hidden" class="" name="cle" id="cle"/>

        <script>
            function moveToNext(input, maxLength) {
                console.log("edrftgyhuj");
                if (input.value.length >= maxLength) {
                    var nextInput = input.nextElementSibling;
                    if (nextInput !== null && nextInput.tagName === 'INPUT') {
                        nextInput.focus();
                    }
                }
            }

            const inputGroup = document.getElementsByName('inputGroup[]');
            const hidden = document.getElementById('cle');
            inputGroup.forEach(input => {
                input.addEventListener('input', updateInputGroup);
            });

            function updateInputGroup() {
                
                const values = Array.from(inputGroup)
                    .map(input => input.value.trim())
                    .filter(value => value !== '')
                    .join('');
                hidden.value = values
                console.log(values); // Affiche la chaîne de caractères avec les valeurs saisies
            }

           /* function getCombinedValue(input) {
                console.log("edrftgyhuj");
                var hidden = document.getElementsById('cle');
                var combinedValue = '';
                
                for (var i = 0; i < input.length; i++) {
                    combinedValue += input[i].value;
                }
                hidden.value = combinedValue;
                //return combinedValue;
            }

            /*var inputs = document.getElementsByClassName('form-controll');
            console.log("ertyuio");
            inputs.addEventListener("input", function () {
                

                var hidden = document.getElementsById('cle');
                var combinedValue = '';
                
                for (var i = 0; i < inputs.length; i++) {
                    combinedValue += inputs[i].value;
                }
                hidden.value = combinedValue;
                
            });*/


            /*function handleBackspace(input) {
                if (input.value.length === (0,1,2,3,4)) {
                    var prevInput = input.previousElementSibling;
                    if (prevInput !== null && prevInput.tagName === 'INPUT') {
                        prevInput.focus();
                    }
                }
            }*/
        </script>

        <div class="g-recaptcha" data-sitekey="6LfXbgUdAAAAAOmqtpwnTGjVw_VQgsAXC_5ib6lP"></div>
        <button type="submit" class="button_action--large" id="" >Vérifier la clé</button>
        

       
        
    </form>
</section>








<!-------------------------------------- SCRIPTS -------------------------------->
<script type="text/javascript" src="./frontend-website/cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="./frontend-website/stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./frontend-website/v4/assets/js/main.js"></script>
<script src="js/intlTelInput.min.js"></script>


</body>


<!-- Mirrored from cleancloudapp.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Sep 2022 20:43:29 GMT -->
</html>

{% endblock %}
